* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: inter;
  src: url("/font/InterTight-Regular.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "inter";
}

/* Navbar */

nav {
    height: 80px;
    background: #fafafa;
  }
  .logo {
    width: 100px;
    height: 100px;
    /* background-image: url("/images/logo/tcp-transparent.png"); */
    -border: 2px solid red;
    margin-left: 5%;
    align-content: center;
  }
  .logo img {
    height: 60px;
    width: auto;
  }

  .nav ul li a {
    font-size: 18px;
    color: #1d4563;

    &:hover{
      color: #0e87b3;
      text-shadow: 0 3px 2px #c1c1c1;
    }
  }
  .btn {
    margin-right: 5%;
    /* border: 2px solid #357395; */
    background: #004367;
    box-shadow: 0 3px 4px #818181;

    &:hover {
      background: #275b77; /*275b77 357395*/
      color: white;
    }
  }
  .hamburger > i {
    color: #275b77;
    font-size: 35px;
    margin-right: 20px;
  }
  .menu {
    width: 233px;
    text-align: center;
    line-height: 2.5rem;
    right: 0%;
    top: 166%;
    background-color: #fafafa;
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    right: -600%;
    transition: 0.5s;
  }
  .menuslide{
      right: 0;
      display: flex;
      transition: 0.5s;
  }
  .txt-color {
    color: #1d4563;
  }
